* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.datePickerContainer {
  .react-datepicker__day--outside-month {
    color: #dbdde0;
  }

  //wrap input and date picker
  .datePickerWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    //INPUT WRAPPER
    .InputDatePickerWrapper {
      display: flex;
      align-items: center;
      width: 210px;
      height: 40px;
      border: 1px solid rgba(37, 40, 43, 0.12);
      border-radius: 6px;
      position: relative;

      .mutliDatePickerInput {
        background-color: transparent;
        border: 1px solid #646f79;
        border-radius: 6px;
        display: flex;
        align-items: center;
        padding: 14px 16px;
        outline: none;
        border: none;
        cursor: pointer;
        z-index: 1;
      }

      .placeholderStart,
      .placeholderEnd {
        color: lightgray;
      }

      .CalendarPickerIcon:nth-child(2) {
        display: none;
      }

      .CalendarPickerIcon {
        padding-right: 5px;
        position: absolute;
        right: 10px;
        color: lightgray;
      }

      .closeBtn:nth-child(1),
      .closeBtn:nth-child(2) {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        border-radius: 50%;
        background-color: #0080ff;
        color: #fff;
        font-weight: bold;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: absolute;
        z-index: 2;

        .closeBtn:hover {
          opacity: 0.6;
          transition: 0.2s;
          cursor: pointer;
        }

        &:hover {
          opacity: 0.25;
          transition: 0.2s;
          cursor: pointer;
        }
      }
    }

    //DATE PICKER WRAPPER
    .dateWrapper {
      position: absolute;
      top: 50px;
      left: 20px;
    }
  }

  .selectWrapper {
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    z-index: 10;

    .selectBox {
      flex: 1;
      height: 50px;
      max-height: 40px;
      padding: 10px 16px;
      border: none;
      outline: none;
      width: 80px;
      background-color: transparent;

      border: 1px solid #dbdde0;
      border-radius: 6px;
    }

    .datePickerIcon {
      z-index: -1;
      position: absolute;
      right: 16px;
      color: #646f79;
    }
  }
  .buttonSelect {
    position: relative;
    width: 100% !important;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center !important;
  }
  .react-datepicker-popper {
    // transform: translate3d(42%, 50px, 0px) !important;
    -webkit-transform: none !important;
    transform: none !important;
  }

  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__input-container {
    // input {
    //   display: none;
    // }

    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 210px;
    height: 48px;
    border: 1px solid #646f79;
    position: relative;
  }

  .react-datepicker__header {
    padding: 0 !important;
    margin-bottom: 16px;
  }

  .react-datepicker__header .react-datepicker__header--custom {
    width: 100%;
    border-radius: 8px !important;

    button {
      display: none;
    }
  }

  .multDatePickerOptions {
    padding: 5px;
  }

  .react-datepicker__time-container {
    display: none !important;
  }

  .react-datepicker {
    animation: openDatePicker alternate 0.2s linear;
    // position: relative;
    font-family: 'Montserrat';
    font-size: 12px;
    width: 750px;
    height: 436px;
    max-height: 446px;
    border-radius: 8px;
    border: 1px solid #ebebf0;
    /* dropdown/shadow opened */
    font-style: normal;
    font-weight: 500;

    box-shadow: 0px 0px 8px rgba(37, 40, 43, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;

    .datePickers {
      // position: absolute;
      top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @keyframes openDatePicker {
      from {
        opacity: 0.8;
        transform: scale(80%);
      }
      to {
        opacity: 1;
        transform: rotate(100%);
      }
    }

    .react-datepicker__header {
      background-color: #fff;
      border: none;
      display: flex;
    }

    .react-datepicker__month {
      margin: 0 !important;
    }

    .react-datepicker__month-container {
      flex: 1;
      height: 100%;

      .react-datepicker__day-names {
        display: none;
      }

      .react-datepicker__week {
        height: 48px;
      }

      .react-datepicker__day {
        width: 48px;
        margin: 0;
        line-height: 48px;
      }

      .react-datepicker__day--selected:hover {
        background-color: #0080ff;
        opacity: 0.8;
        color: #fff;
      }

      .react-datepicker__day--range-start {
        background-color: #0080ff !important;
        color: #fff !important;
      }

      .react-datepicker__day--selected {
        background-color: #0080ff;
      }

      .react-datepicker__day--keyboard-selected {
        border-radius: 8px;
        background-color: #0080ff;
        color: #fff;
        font-style: normal;
        font-weight: 500;
      }

      .react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range):hover {
        background-color: #0080ff;
        color: #fff;
        border-radius: 8px;
      }

      .container
        .react-datepicker
        .react-datepicker__month-container
        .react-datepicker__day--in-range {
        background-color: #0080ff;
        color: #fff;
      }

      .react-datepicker__day--in-range {
        border-radius: 0px;
      }

      .react-datepicker__day--selected {
        color: #fff;
        border-radius: 8px;
      }

      .react-datepicker__day--in-range {
        color: #0080ff;
        background-color: #eceef0;
      }
    }

    .react-datepicker__day--range-end,
    .react-datepicker__day--selecting-range-start {
      border-radius: 8px !important;
      background-color: #0080ff !important;
      color: #fff !important;
    }

    .react-datepicker__day--in-selecting-range {
      background: #eceef0;
      color: #0080ff;
      border-radius: 0px;
    }

    .buttonWrapper {
      position: absolute;
      bottom: 24px;
      right: 27px;

      & button:nth-child(1) {
        width: 120px;
        height: 40px;
        background-color: transparent;
        color: #606e7b;
        text-transform: none;
        margin-right: 20px;
        border: 1px solid #eceef0;

        &:hover {
          transition: 0.2s;
          opacity: 0.85;
        }
      }
      & button:nth-child(2) {
        width: 120px;
        height: 40px;
        background-color: #0080ff;
        color: #ffffff;
        border: none;
        text-transform: none;

        &:hover {
          transition: 0.2s;
          opacity: 0.85;
        }
      }
    }
  }
}
